body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    height: .9vh;
}
header {
    grid-area: header;
    width: 100%;
  }

  .navigation{
      display: flex;
  }
  .logo img{
      width: 35px;
  }
  .navigation nav {
    display: flex;
}
  section{
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "leftSide content content content content content"
  }
.leftSide{
    grid-area: leftSide;
}
.leftSide img{
    width: 100%;
}
.content{
    grid-area: content;
}

/*
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    padding: 1%;
}
.navigation {
    background-color: #373738;
}
ul {
    width: 50%;
    margin-left: auto;
    min-width: 1040px;
}
.logo {
    text-align: center;
}
.heroimg {
    padding: 25px;
}

footer {
    background-color: #373738;
}
li {
    padding: 1%;
    display: inline-block;
    vertical-align: top;
    color: white;
}